@import './default/reset';
@import './default/colours';

// Components
@import '../components/header';
@import '../components/nav';


@mixin button-styling {
  color: $foreground-colour;
  background-color: $primary-colour;
  border-radius: 10px;
  padding: 1rem;
}

body {
  background-color: $background-colour;
  font-family: arial;
  padding: 0;
  margin: 0;
  font-size: 16px;
  letter-spacing: -0.4px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: black;
}


main {
  .hero-pic {
    width: 100%;

    div {
      width: 100%;
      height: 606px;
      overflow:hidden;

      img {
        min-height: 100%;
        min-width: 100%;
        object-fit: none;
        object-position: center;
        height: 100px;
        width: 100px;
      }
    }
  }
  .boxes {
    display: flex;
    padding: 50px;
    div{
      display: flex;
      justify-content: center;
      width: 100%;
      height: 350px;
      div {
        color: white;
        padding: 10px;
        background-color: $primary-colour;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        div {
          color: $primary-colour;
          background-color: white;
          margin: 20px;
          button {
            all:unset;
            @include button-styling;
          }
          button:hover {
            color: $primary-colour;
            background-color: transparent;
            text-decoration: underline;
            line-height: 1em;
            padding: 17px;

          }
        }
      }
    }
  }
}